@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title.</h1>

<p>Are you looking to get into Property Investment, or a seasoned investor, our site is there to help people try and find good property deals within NZ using properties listed on trademe,
    you are able to find, analyse and compare properties to try and find the best deals for you and your current situation</p>