@model PropertyAnalysisTool.Models.ComparePropertyModel
@{
    ViewBag.Title = "Compare";
    var containerSize = "col-sm-" + Model.ContainerSize;
}

<div class="row">
    <div class="col-sm-12">
        <h1>Compare</h1>
    </div>
    @foreach (var property in Model.Properties)
    {
        <div class="@containerSize">
            @{Html.RenderPartial("ComparePropertyPartial", property);}
            
        </div>
                }
</div>

@section scripts
{
<script>
        require(["app"],
                    function () {
                        requirejs(["knockout","components/PropertyCalculator/comparePropertyCalculatorComponent", "koBindings/PropertyCalculatorBinding"],
                            function (ko) {
                                ko.applyBindings();

                                //Dynamically set the height of the property info blocks to be the same.
                                var max = -1;
                                $(".details-info").each(function () {
                                    var h = $(this).height();
                                    max = h > max ? h : max;
                                });

                                $(".details-info").height(max);
                            })

                    }
                );

        
</script>

}