@model PropertyAnalysisTool.Models.PropertyModel
@{
    ViewBag.Title = Model.Title;
    //var modelJS = Html.Raw(EncodeJSON(Model);
}

<div class="row">

    <div class="calculator-container">
        <div class="col-sm-12 text-center">
            <h1>Property Analysis</h1>
        </div>
        
        <div class="col-lg-6">
            @{Html.RenderPartial("PropertyDetailsInfoPartial", Model);}
        </div>
        
        <div class="col-lg-6">
            <property-calculator params="data: @Html.Raw(EncodeJSON(Model)).ToString()"></property-calculator>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-12">

        <p>If Gross Yield is under interest rate, then loss</p>
        <p>
            5-6% low cashflow - need great growth
        </p>
        <p>
            7-8% break even - still need good growth
        </p><p>
            9-10% or more - good cashflow
        </p>
        <p>
            If you want to own a lot of properties, then need high yield (that pay for themselves)
        </p>
        <p>
            It keeps banks happy with income
        </p>
        <p>
            property portfolio will pay for itself
        </p>
        <p>
            interest rates will rise at some point, so need a buffer
        </p>
    </div>
</div>

@functions {
    string EncodeJSON(object value)
    {
        return Newtonsoft.Json.JsonConvert.SerializeObject(value, new Newtonsoft.Json.JsonSerializerSettings
        {
            ContractResolver = new Newtonsoft.Json.Serialization.CamelCasePropertyNamesContractResolver()
        });
    }
}

@section scripts
{
    <script>
        require(["app"],
                    function () {
                        requirejs(["knockout", "components/PropertyCalculator/propertyCalculatorComponent", "koBindings/PropertyCalculatorBinding", "koBindings/FadeVisibleBinding"],
                            function (ko) {
                                ko.applyBindings();
                            })

                    }
                );
    </script>

}