@model PropertyAnalysisTool.Models.TradeMePropertyResultsViewModel

@{
    ViewBag.Title = "Home Page";

}

@section metatags
{
    <meta name="description" content="Find, Analyse and Compare properties to make smarter decisions when it come to investing in residential property" />
}

<div class="row">
    <div class="col-lg-12 text-center"><h1>Residential Mobile</h1></div>
    <div class="ajax-loader col-xs-8 text-center"><img src="~/Content/Images/ajax-loader.gif" alt="loader img" /></div>
    <div class="col-xs-8" id="property-list">
        @{Html.RenderPartial("PropertyListingPartial", Model);}
    </div>

    <div class="col-xs-4">

        <div class="row propertylist-container">
            <div class="col-sm-12 property-filter-container">
                @{Html.RenderAction("Index", "PropertyFilter");}
            </div>
        </div>

        <div class="to-compare col-sm-12">

            <h4>To Compare</h4>

            <div class="compare-list">
            </div>
            <button type="button" class="btn btn-primary compare-properties">Compare Properties</button>
        </div>
    </div>
</div>

@section scripts
{
   @Scripts.Render("~/bundles/propertyListings")

}