@model PropertyAnalysisTool.Models.PropertyModel
@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    @*Property Info*@

    <div class="calculator-container">
        <div class="col-lg-12 compare">
            @{Html.RenderPartial("PropertyDetailsInfoPartial", Model);}
        </div>
        <property-calculator params="data: @Html.Raw(EncodeJSON(Model)).ToString()"></property-calculator>
    </div>
</div>

@functions {
    string EncodeJSON(object value)
    {
        return Newtonsoft.Json.JsonConvert.SerializeObject(value, new Newtonsoft.Json.JsonSerializerSettings
        {
            ContractResolver = new Newtonsoft.Json.Serialization.CamelCasePropertyNamesContractResolver()
        });
    }
}
